.footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: $screen-m) {
      justify-content: space-between;
  }
}

  .icons-container {
    display: flex;
    gap: 30px;

    @media only screen and (max-width: $screen-m) {
      gap: 15px;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding-right: 20px;
  }
}


  .facebook, .instagram {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, font-size 0.3s ease;
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
  }

  .instagram:hover {
    transform: scale(1.1); 
  }

  .facebook:hover {
    transform: scale(1.1); 
  }
