// MAIN TEXT //

.main-text {
    @include heading;
    padding-left: 208px;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: transparent; 
    background: linear-gradient(90deg, #a2c6e8, #d8c0ff);
    background-size: 300% 300%; 
    background-clip: text; 
    -webkit-background-clip: text; 
    display: inline-block;
    margin: 0;
    opacity: 0;
    z-index: -999;
    transform: translateY(50px);
    animation: fadeIn 2s ease forwards, gradient-animation 5s ease infinite;

    @media only screen and (max-width: $screen-m) {
        font-size: 44px;
        padding-top: 40px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 7%;
    }

    @media only screen and (min-width: $screen-m) and (max-width: $screen-xl) {
        font-size: 62px;
        padding-top: 40px;
        padding-left: 10%;
    }
}


@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


// PARAGRAPH //

.main-paragraph {
    @include paragraph;
    padding-left: 210px;
    padding-right: 613px;
    color: white;
    margin-top: 15px;
    margin-bottom: 0px;
    opacity: 0; 
    transform: translateY(50px);
    animation: fadeIn 3s ease forwards;

    @media only screen and (max-width: $screen-m) {
        font-size: 20px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    @media only screen and (min-width: $screen-m) and (max-width: $screen-xl) {
        padding-left: 10%;
        padding-right: 5%;
    }
}


// BUTTONS //

.main-button {
    @include main-button;
    margin-left: 208px;
    margin-top: 15px;

    opacity: 0; 
    transform: translateY(50px);
    animation: fadeIn 3s ease forwards;


    @media only screen and (max-width: $screen-m) {
        margin-left: 5%;
        margin-right: 2px;
        width: 140px;
        height: 55px;
        font-size: 20px;
    }

    @media only screen and (min-width: $screen-m) and (max-width: $screen-xl) {
        margin-left: 10%;
    }
}

.main-button:hover {
    box-shadow: 0px 8px 30px $main-color;
}

.second-button {
    @include second-button;
    margin-top: 15px;
    margin-left: 5px;

    opacity: 0; 
    transform: translateY(50px);
    animation: fadeIn 3s ease forwards;

    @media only screen and (max-width: $screen-m) {
        margin: 0 0 0 0;
        margin-left: 5px;
        width: 140px;
        height: 55px;
        font-size: 20px;
    }
}

.second-button:hover {
    box-shadow: 0px 8px 30px $main-color;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}


// CONTENT //

.main-content {
    width: 100%;
    height: 90vh;
    background: linear-gradient(180deg, #000000 0%, #2d2e5e 25%, #1a1b3e 50%);
    z-index: 10;


    @media only screen and (max-width: $screen-m) {
        justify-content: center;
        align-items: center;
    }
}


