.ref-content {
    width: 100%;
    height: 90vh;
    background: linear-gradient(180deg, #0a0a1a 0%, #05050f 30%, #0c0c1f 55%, #1a1b3e 80%, #2a2e61 100%);
  }


.heading {
    @include heading;
    color: white;
    text-align: center;
    margin: 0 0 0 0;

    @media only screen and (max-width: $screen-m) {
      font-size: 44px;
  }
}

 // REVIEWS //

 .reviews-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    padding-top: 40px;

    @media only screen and (max-width: $screen-m) {
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  }
  
 .reviews {
    background-color: transparent;
    height: 400px;
    width: 30%;
    text-align: center;
    flex-direction: column;
 }

 .stars {
    height: 100px;
    width: auto;

    @media only screen and (max-width: $screen-m) {
      height: 50px;
      width: auto;
      justify-content: center;
  }
 }
  

  // PARAGRAPH //

  .second-paragraph {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: white;

    @media only screen and (max-width: $screen-m) {
      font-size: 20px;

    @media only screen and (min-width: $screen-m) and (max-width: $screen-xl) {
      font-size: 15px;
      }  
  }
  }

  // KLIENT //

  .klient {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: white;

    @media only screen and (max-width: $screen-m) {
    font-size: 20px;
  }
  }

  .klient1 {
    height: 100px;
    width: auto;
    margin: 0 0 0 0;
    border-radius: 70%;

    @media only screen and (max-width: $screen-m) {
      height: 65px;
  }
  }

  .rating-container {
    @media only screen and (max-width: $screen-m) {
      justify-content: center;
      align-items: center;
  }
  }