// FONTS //

$main-font: "DM Sans", sans-serif;


// COLORS //

$main-color: #65558F;


// MINIMUM DIMENSIONS //

$screen-xs: 223px;
$screen-s: 600px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;


