// TEXT STYLES //

@mixin textStyle1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
    text-decoration: none !important;
    border: none !important;
}

@mixin textStyle2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: white;
}

@mixin heading {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 72px;
}

@mixin paragraph {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: white;
}


// BUTTONS // 

@mixin main-button {
    height: 60px;
    width: 170px;
    border-radius: 100px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: $main-color;
    background: linear-gradient(90deg, #a2c6e8, #d8c0ff);
    cursor: pointer;
    border: none;
}

@mixin second-button {
    height: 60px;
    width: 170px;
    border-radius: 100px;
    border: 2px solid #a2c6e8; 
    background-color: transparent;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

